<h1>Confirmação de e-mail e de conta - IROKO</h1>
<p>Olá!</p>
<p>
    Você recentemente se registrou no Iroko. <br>
    Para continuar utilizando os serviços, confirme que este é o seu e-mail clicando no link abaixo.<br><br>
    <a href="{{ signedUrl|raw }}">Confirmar meu email e acessar minha agenda</a>.
</p>

<p> Caso você não saiba do que se trata este e-mail ou acredita que seja um engano, ficamos tristes pela confusão e você pode ignorar esta mensagem tranquilamente.</p>

{# This link will expire in {{ expiresAt|date('g') }} hour(s). #}

<p>
    Até breve!
</p>
<p><b>Iroko</b></p>