<form method="post" action="{{ path('cliente_delete', {'cpf': cliente.cpf}) }}" onsubmit="return confirm('Você tem certeza que deseja apagar esse item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cliente.cpf) }}">
    <button class="btn btn-danger">Apagar</button>
</form>
