<h1>Olá!</h1>

<p>Para redefinir sua senha de acesso no serviço da AiMov, clique no seguitne link</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Caso você não tenha feito este pedido, você pode ignorar esse email.</p>

<p>Até logo!</p>