{% extends 'base.html.twig' %}

{% block title %}Editar Escala de Trabalho - {% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Editar Escala de Trabalho</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ include('escala_trabalho/_form.html.twig', {'button_label': 'Atualizar'}) }}
        </div>
    </div>
{% endblock %}
