{% extends 'base.html.twig' %}

{% block title %}Editar Empresa - {% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Editar Empresa</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ include('configuracao/_form.html.twig', {'button_label': 'Atualizar'}) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('configuracao') }}
{% endblock javascripts %}