<div class="row">
    <div class="col">
        <h2>Serviços</h2>
    </div>
</div>

<div class="row">
    <div class="col" id="svcs" data-prototype="{{ form_widget(form.servicos.vars.prototype)|e('html_attr') }}" style="list-style: none;">
        {% for row in form.servicos %}
        <div class="itemSvcs">
            <div class="input-group">
                {{ form_widget(row.servico, {'attr': {'class': 'form-control'}}) }}
                <div class="input-group-append"></div>
            </div>
            <div class="invalid-feedback">
                {{ form_errors(row.servico) }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>