{% extends "base.html.twig" %}
{% block body %}
<div class="row justify-content-center">
    <div class="col">
        <h1>Não há nada para ver aqui</h1>
    
        <p>Se alguém lhe passou um link, ele lhe levou a lugar nenhum.</p>
        <p>Se você estava tentando digitar um endereço, ele pode estar escrito errado.</p>
        <a href="{{ path('home') }}" class="btn btn-primary btn-block">De qualquer forma, clique aqui para ir ao início.</a>
    </div>
</div>
{% endblock body %}