{{ form_start(form) }}
    <div class="row">
        <div class="col">
            {{ form_widget(form) }}
            <button class="btn btn-success">{{ button_label|default('Salvar') }}</button>
        </div>
    </div>
{{ form_end(form) }}
